.client-home {
  background-color: #ffffff;
}

.menuactive {
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.ant-button:hover {
  cursor: pointer;
  scale: 1.1;
}

.menus > * {
  cursor: pointer;
  transition: 30ms ease-in-out;
}

.menus > *:hover {
  color: black;
  transition: 30ms ease-in-out;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.web-title {
  font-size: 1.75em;
}

.web-title:hover {
  cursor: pointer;
  animation: logoblur 500ms ease-in-out;
}

.icon {
  transition: 250ms ease-in-out;
  font-size: 1.2em;
}

.icon:hover {
  cursor: pointer;
  scale: 1.09;
  font-weight: bold;
}

.bag-icon-parent,
.wish-icon-parent {
  position: relative;
}

.bag-count,
.wish-count {
  position: absolute;
  top: -40%;
  right: -40%;
}

.brand-logos > * {
  padding-right: 1em;
  height: 3.5em;
  transition: 300ms ease-in-out;
}

.brand-logos > *:hover {
  transition: 300ms ease-in-out;
  cursor: pointer;
  scale: 1.05;
}

/* .brand-logos > *:nth-child(1) {
  height: 2.5em;
}

.brand-logos > *:nth-child(2) {
  height: 2em;
}

.brand-logos > *:nth-child(3) {
  height: 1.8em;
} */

.brand-logos > *:not(:last-child) {
  border-right: 2px solid rgb(143, 138, 138);
}

.collection-items {
  display: grid;
  padding-top: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
}

.collection-item {
  background-color: #f8f8fa;
  height: 500px;
  width: auto;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  position: relative;
}

.collection-item-image {
  object-fit: cover;
  max-width: 100%;
  height: 30em;
  transform: scaleX(-1);
}

.all-collection-items {
  display: grid;
  padding-top: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5em;
}

.all-collection-item {
  background-color: #f8f8fa;
  height: 300px;
  width: auto;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  transition: 400ms ease-in-out;
  position: relative;
}

.all-collection-item:hover {
  cursor: pointer;
  scale: 1.02;
  transition: 400ms ease-in-out;
}

.all-collection-item-image {
  object-fit: cover;
  max-width: 100%;
  height: 14em;
  transform: scaleX(-1);
}

.all-collection-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.popular-collection-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.35em;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7%;
}

.popular-cart-bag-parent {
  position: absolute;
  display: flex;
  gap: 0.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  background-color: white;
  top: 7%;
  right: 7%;
  border: 0.5px solid transparent;
  transition: 500ms ease-in-out;
}

.popular-cart-bag-parent:hover {
  cursor: pointer;
  border: 0.5px solid black;
  transition: 500ms ease-in-out;
}

.cart-bag-parent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  top: 7%;
  right: 7%;
  border: 0.5px solid transparent;
  transition: 500ms ease-in-out;
}

.cart-bag-parent:hover {
  cursor: pointer;
  border: 0.5px solid black;
  transition: 500ms ease-in-out;
}

.member-container {
  width: 95%;
  border-radius: 0.25em;
  background-color: #313131;
  height: 350px;
  margin: auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5em;
  color: white;
}

.member-container > * {
  place-content: center;
}

.member-container > *:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto auto;
  width: 60%;
  /* background-color: blue; */
}

.become {
  font-size: 4em;
}

.member {
  font-size: 3em;
}

.lorem {
  font-size: 0.85em;
  line-height: 1.5em;
  color: rgb(151, 143, 143);
}

.join-now {
  padding: 1em 2.5em;
  border-radius: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  font-size: 0.85em;
  border: 1px solid transparent;
}

.join-now:hover {
  cursor: pointer;
  border: 1px solid white;
}

.member-container > *:nth-child(2) {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 7em; */
  /* background-color: blue; */
}

.footer-one {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: auto auto;
  margin-top: 4em;
  width: 95%;
  gap: 3em;
}

.footer-one > * {
  height: 200px;
  /* background-color: gray; */
}

.footer-one > div:nth-child(1) {
  padding: 1em 0 0 2em;
}

.socials {
  display: flex;
  gap: 0.75em;
  margin-top: 0.75em;
}

.social {
  background: white;
  border: 1px solid gray;
  width: fit-content;
  padding: 0.5em;
  border-radius: 50%;
  transition: 300ms ease-in-out;
}

.social:hover {
  cursor: pointer;
  background: black;
  color: white;
  transition: 300ms ease-in-out;
}

.sign-up {
  font-weight: bold;
  margin-top: 2em;
}

.footer > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 2em 0;
  margin: 0 3em 0 3em;
  margin-top: 3em;
  color: rgb(102, 101, 101);
  border-top: 1px solid black;
  /* background: blue; */
}

.slider-header {
  position: relative;
}

.left-arrow-parent {
  position: absolute;
  top: 50%;
  color: black;
  background: white;
  left: 2%;
  cursor: pointer;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.right-arrow-parent {
  position: absolute;
  top: 50%;
  color: black;
  background: white;
  right: 2%;
  cursor: pointer;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.showrooms-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5em;
}

.showrooms-grid > * {
  height: 500px;
  margin: 1em 0;
  /* background-color: #f8f8fa; */
  background: gray;
}

.discover-all-section {
  margin: auto auto;
  margin-top: 3em;
  width: 95%;
  padding: 1.25em 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

@keyframes logoblur {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(1px);
  }
}

@media screen and (min-width: 1024px) {
  .member-container > *:nth-child(2) {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 1366px) {
  .member-container > *:nth-child(2) {
    font-size: 4.5em;
  }
}

@media screen and (min-width: 1920px) {
  .member-container > *:nth-child(2) {
    font-size: 7em;
  }
}
