.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray !important;
}
.information{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.name{
    /* align-self: flex-start; */
}
.priceSection{
    font-weight: 700;
    & span{
        color: rgb(60, 8, 8);
        text-decoration: line-through;
    }
}
